* {
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
}

.bovenstebalk {
    padding: 10px;
    display: flex;
}

.bovenstebalk img {
    height: 40px;
    margin-right: auto;
}

.credits {
    display: flex;
    align-items: center;
    padding-right: 10px;
    border-right: 1px solid #ccc;
}

.BobVanDerBergen {
    background-color: white; 
}

.menu-BobVanDerBergen{
    margin: 10px;
}

.linker-balk {
    width: 64px;
    background-color: #132732;
    height: calc(100% - 50px);
    position: fixed;
    padding-top: 10px;
    }

.linker-balk i {
    display: block;
    text-align: center;
    padding: 16px;
    color: white;
}

.titel {
    margin-left: 64px;
    background-color: #1c96a3;
    padding: 60px 25px;
    color: white;
}

.titel h1 {
    font-size: 40px;
}

.info-area {
    margin-left: 64px;
    
}

.info-area table {
    width: calc(100% - 64px);
    margin: 15px;
}

.info-area td {
    padding: 10px;
    border-top: 1px solid #ddd;
}

.info-area th {
    text-align: left;
    padding: 15px;
    color: grey;
}